/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/common.scss */
a:link, a:visited, a:active, a:hover {
  text-decoration: none;
  cursor: pointer;
}

/* line 13, ../sass/common.scss */
.left {
  text-align: left;
}

/* line 16, ../sass/common.scss */
.right {
  text-align: right;
}

/* line 19, ../sass/common.scss */
.mini-logo {
  width: 50px;
  height: 50px;
  margin: 5px;
  border: 3px solid #333;
  color: #333;
  border-radius: 50px;
  text-align: center;
  display: table;
  transition: background-color .2s, color .2s;
  -webkit-transition: background-color .2s, color .2s;
  -moz-transition: background-color .2s, color .2s;
  -o-transition: background-color .2s, color .2s;
  -ms-transition: background-color .2s, color .2s;
}

/* line 34, ../sass/common.scss */
.mini-logo:hover {
  background-color: #333;
  color: #fff;
}

/* line 38, ../sass/common.scss */
.mini-logo-text {
  display: table-cell;
  vertical-align: middle;
  font-size: 1.250em;
  font-weight: 700;
}

/* line 45, ../sass/common.scss */
.hideme {
  opacity: 0;
}

/* line 48, ../sass/common.scss */
.spacer {
  border-top: 2px solid #3498db;
  margin: 15px auto;
  width: 80%;
}

/* line 53, ../sass/common.scss */
strong {
  font-weight: 600;
}

@keyframes glow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@-moz-keyframes glow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes glow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@-ms-keyframes glow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@-o-keyframes glow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
/* arrow anim */
@keyframes arrowAnim {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, 10px);
  }
}
/* line 4, ../sass/app.scss */
body {
  font-family: 'Open Sans', sans-serif;
}
@media (max-width: 768px) {
  /* line 4, ../sass/app.scss */
  body {
    overflow-x: hidden;
  }
}
/* line 11, ../sass/app.scss */
body #wrapper {
  margin: 0px auto;
  width: 100%;
}
/* line 15, ../sass/app.scss */
body #wrapper #menu {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  padding: 15px;
  background-color: #ecf0f1;
  z-index: 999;
  color: #fff;
}
@media (max-width: 768px) {
  /* line 26, ../sass/app.scss */
  body #wrapper #menu .col-sm-1 {
    width: 100%;
  }
}
@media (max-width: 768px) {
  /* line 32, ../sass/app.scss */
  body #wrapper #menu .col-sm-11 {
    width: 100%;
  }
}
/* line 38, ../sass/app.scss */
body #wrapper #menu .burger {
  position: absolute;
  top: -5px;
  right: 15px;
  display: none;
}
@media (max-width: 768px) {
  /* line 38, ../sass/app.scss */
  body #wrapper #menu .burger {
    display: inline-block;
  }
}
@media (min-width: 768px) {
  /* line 38, ../sass/app.scss */
  body #wrapper #menu .burger {
    top: 0;
  }
}
@media (max-width: 768px) {
  /* line 53, ../sass/app.scss */
  body #wrapper #menu .menu-box {
    display: none;
  }
}
/* line 59, ../sass/app.scss */
body #wrapper #menu ul {
  vertical-align: middle;
  padding: 12px 0;
  text-transform: uppercase;
  text-align: right;
}
@media (max-width: 768px) {
  /* line 59, ../sass/app.scss */
  body #wrapper #menu ul {
    text-align: center;
  }
}
/* line 69, ../sass/app.scss */
body #wrapper #menu ul .current {
  background-color: #333;
}
/* line 72, ../sass/app.scss */
body #wrapper #menu ul .current a {
  color: #fff;
}
/* line 77, ../sass/app.scss */
body #wrapper #menu ul li {
  list-style: none;
  display: inline-block;
  margin: 0 5px;
  padding: 10px 0;
  font-size: 15px;
  font-weight: 700;
  color: #333;
}
/* line 86, ../sass/app.scss */
body #wrapper #menu ul li:hover {
  transition: background-color .2s, color .2s;
  -webkit-transition: background-color .2s, color .2s;
  -moz-transition: background-color .2s, color .2s;
  -o-transition: background-color .2s, color .2s;
  -ms-transition: background-color .2s, color .2s;
  background-color: #333;
}
/* line 94, ../sass/app.scss */
body #wrapper #menu ul li:hover a {
  color: #fff;
}
/* line 99, ../sass/app.scss */
body #wrapper #menu ul li a {
  color: #333;
  padding: 10px 15px;
}
@media (max-width: 768px) {
  /* line 77, ../sass/app.scss */
  body #wrapper #menu ul li {
    display: block;
  }
}
/* line 111, ../sass/app.scss */
body #wrapper #welcome {
  text-align: center;
  width: 100%;
  height: 100vh;
  display: table;
  position: relative;
  background-image: url(../assets/welcome.jpg);
  background-size: cover;
}
/* line 120, ../sass/app.scss */
body #wrapper #welcome-content {
  max-width: 100%;
  height: 100vh;
  display: table-cell;
  vertical-align: middle;
  text-transform: uppercase;
  color: #fff;
  position: realtive;
}
/* line 129, ../sass/app.scss */
body #wrapper #welcome-content h1 {
  font-weight: 600;
  font-size: 5em;
  position: relative;
  left: 25%;
  width: 50%;
  padding: 15px;
  margin-bottom: 15px;
  border: 5px solid #fff;
}
@media (max-width: 768px) {
  /* line 129, ../sass/app.scss */
  body #wrapper #welcome-content h1 {
    font-size: 2.5em;
    text-align: center;
  }
}
@media (max-width: 400px) {
  /* line 129, ../sass/app.scss */
  body #wrapper #welcome-content h1 {
    font-size: 1.5em;
    text-align: center;
  }
}
/* line 150, ../sass/app.scss */
body #wrapper #welcome-content h2 {
  font-weight: 300;
  font-size: 1.5em;
  color: #3498db;
}
@media (max-width: 768px) {
  /* line 150, ../sass/app.scss */
  body #wrapper #welcome-content h2 {
    font-size: 1em;
  }
}
/* line 160, ../sass/app.scss */
body #wrapper #welcome-content .arrow {
  position: relative;
  top: 15%;
  cursor: pointer;
  animation-duration: 0.5s;
  animation-name: arrowAnim;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
/* line 169, ../sass/app.scss */
body #wrapper #welcome-content .arrow img {
  height: 3rem;
}
/* line 173, ../sass/app.scss */
body #wrapper #welcome-content .arrow a {
  color: #fff;
}
/* line 176, ../sass/app.scss */
body #wrapper #welcome-content .arrow a:hover {
  color: #3498db;
}
/* line 184, ../sass/app.scss */
body #wrapper #education a, body #wrapper #portfolio a {
  color: #fff;
}
/* line 187, ../sass/app.scss */
body #wrapper #education a:hover, body #wrapper #portfolio a:hover {
  color: #333;
}
/* line 191, ../sass/app.scss */
body #wrapper #education .col-sm-4, body #wrapper #education .col-md-4, body #wrapper #portfolio .col-sm-4, body #wrapper #portfolio .col-md-4 {
  padding-left: 0;
  padding-right: 0;
}
/* line 197, ../sass/app.scss */
body #wrapper #skills {
  text-align: center;
}
/* line 198, ../sass/app.scss */
body #wrapper #skills h3 {
  text-align: left;
}
/* line 203, ../sass/app.scss */
body #wrapper #skills .fa {
  font-size: 50px;
  line-height: 75px;
  color: #3498db;
  -webkit-animation: glow 5s;
  -moz-animation: glow 5s;
  -ms-animation: glow 5s;
  -o-animation: glow 5s;
  animation: glow 5s;
  transition: all 0.3s ease;
  animation-iteration-count: infinite;
}
/* line 220, ../sass/app.scss */
body #wrapper #portfolio h3 {
  margin-bottom: 15px;
}
/* line 223, ../sass/app.scss */
body #wrapper #portfolio .pic {
  margin: 0 auto !important;
}
/* line 228, ../sass/app.scss */
body #wrapper #contact {
  padding: 15px;
}
/* line 231, ../sass/app.scss */
body #wrapper #contact a {
  color: #000;
  transition: all 0.3s ease;
}
/* line 235, ../sass/app.scss */
body #wrapper #contact a:hover {
  color: #3498db;
  text-decoration: none;
}
/* line 241, ../sass/app.scss */
body #wrapper #contact ul {
  text-align: center;
}
/* line 244, ../sass/app.scss */
body #wrapper #contact ul li {
  list-style: none;
  display: inline-block;
  padding: 15px 20px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}
/* line 254, ../sass/app.scss */
body #wrapper #contact p {
  text-align: center;
}
/* line 258, ../sass/app.scss */
body #wrapper #footer {
  padding: 15px;
  color: #666;
  text-align: center;
  background-color: #ecf0f1;
}
/* line 264, ../sass/app.scss */
body #wrapper #footer h6 {
  font-size: 10px;
  font-weight: 100;
}
/* line 270, ../sass/app.scss */
body #wrapper #about, body #wrapper #education, body #wrapper #skills, body #wrapper #portfolio, body #wrapper #contact, body #wrapper #footer {
  padding: 15px;
}
/* line 273, ../sass/app.scss */
body #wrapper #about h3, body #wrapper #education h3, body #wrapper #skills h3, body #wrapper #portfolio h3, body #wrapper #contact h3, body #wrapper #footer h3 {
  font-size: 28px;
  padding-bottom: 15px;
  font-weight: 600;
}
/* line 279, ../sass/app.scss */
body #wrapper #about p, body #wrapper #education p, body #wrapper #skills p, body #wrapper #portfolio p, body #wrapper #contact p, body #wrapper #footer p {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 15px;
}
/* line 285, ../sass/app.scss */
body #wrapper #about .content-pic-1, body #wrapper #education .content-pic-1, body #wrapper #skills .content-pic-1, body #wrapper #portfolio .content-pic-1, body #wrapper #contact .content-pic-1, body #wrapper #footer .content-pic-1 {
  float: right;
}
@media (max-width: 767px) {
  /* line 285, ../sass/app.scss */
  body #wrapper #about .content-pic-1, body #wrapper #education .content-pic-1, body #wrapper #skills .content-pic-1, body #wrapper #portfolio .content-pic-1, body #wrapper #contact .content-pic-1, body #wrapper #footer .content-pic-1 {
    float: none;
  }
}
/* line 293, ../sass/app.scss */
body #wrapper #about .content-pic, body #wrapper #education .content-pic, body #wrapper #skills .content-pic, body #wrapper #portfolio .content-pic, body #wrapper #contact .content-pic, body #wrapper #footer .content-pic {
  text-align: center;
}
/* line 296, ../sass/app.scss */
body #wrapper #about .content-pic .pic, body #wrapper #education .content-pic .pic, body #wrapper #skills .content-pic .pic, body #wrapper #portfolio .content-pic .pic, body #wrapper #contact .content-pic .pic, body #wrapper #footer .content-pic .pic {
  height: 70vh;
  position: relative;
  transition: all 0.3s ease;
  background-size: cover;
  background-position: center;
  margin: 15px auto;
}
@media (max-width: 768px) {
  /* line 296, ../sass/app.scss */
  body #wrapper #about .content-pic .pic, body #wrapper #education .content-pic .pic, body #wrapper #skills .content-pic .pic, body #wrapper #portfolio .content-pic .pic, body #wrapper #contact .content-pic .pic, body #wrapper #footer .content-pic .pic {
    margin: 0 auto;
  }
}
/* line 308, ../sass/app.scss */
body #wrapper #about .content-pic .pic:hover, body #wrapper #about .content-pic .pic:active, body #wrapper #education .content-pic .pic:hover, body #wrapper #education .content-pic .pic:active, body #wrapper #skills .content-pic .pic:hover, body #wrapper #skills .content-pic .pic:active, body #wrapper #portfolio .content-pic .pic:hover, body #wrapper #portfolio .content-pic .pic:active, body #wrapper #contact .content-pic .pic:hover, body #wrapper #contact .content-pic .pic:active, body #wrapper #footer .content-pic .pic:hover, body #wrapper #footer .content-pic .pic:active {
  transform: translate3d(0, 0, 0) scale(1.01);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  z-index: 500;
}
/* line 314, ../sass/app.scss */
body #wrapper #about .content-pic .pic .pic-content, body #wrapper #education .content-pic .pic .pic-content, body #wrapper #skills .content-pic .pic .pic-content, body #wrapper #portfolio .content-pic .pic .pic-content, body #wrapper #contact .content-pic .pic .pic-content, body #wrapper #footer .content-pic .pic .pic-content {
  opacity: 0;
  position: relative;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease;
  color: #fff;
  overflow: hidden;
}
/* line 323, ../sass/app.scss */
body #wrapper #about .content-pic .pic .pic-content:hover, body #wrapper #education .content-pic .pic .pic-content:hover, body #wrapper #skills .content-pic .pic .pic-content:hover, body #wrapper #portfolio .content-pic .pic .pic-content:hover, body #wrapper #contact .content-pic .pic .pic-content:hover, body #wrapper #footer .content-pic .pic .pic-content:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 328, ../sass/app.scss */
body #wrapper #about .content-pic .pic .pic-content .pic-container, body #wrapper #education .content-pic .pic .pic-content .pic-container, body #wrapper #skills .content-pic .pic .pic-content .pic-container, body #wrapper #portfolio .content-pic .pic .pic-content .pic-container, body #wrapper #contact .content-pic .pic .pic-content .pic-container, body #wrapper #footer .content-pic .pic .pic-content .pic-container {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 15px;
}
/* line 334, ../sass/app.scss */
body #wrapper #about .content-pic .pic .pic-content .pic-container .fa, body #wrapper #education .content-pic .pic .pic-content .pic-container .fa, body #wrapper #skills .content-pic .pic .pic-content .pic-container .fa, body #wrapper #portfolio .content-pic .pic .pic-content .pic-container .fa, body #wrapper #contact .content-pic .pic .pic-content .pic-container .fa, body #wrapper #footer .content-pic .pic .pic-content .pic-container .fa {
  font-size: 25px;
}
/* line 338, ../sass/app.scss */
body #wrapper #about .content-pic .pic .pic-content .pic-container p, body #wrapper #education .content-pic .pic .pic-content .pic-container p, body #wrapper #skills .content-pic .pic .pic-content .pic-container p, body #wrapper #portfolio .content-pic .pic .pic-content .pic-container p, body #wrapper #contact .content-pic .pic .pic-content .pic-container p, body #wrapper #footer .content-pic .pic .pic-content .pic-container p {
  padding: 5px;
  font-weight: 100;
  text-transform: uppercase;
}
/* line 344, ../sass/app.scss */
body #wrapper #about .content-pic .pic .pic-content .pic-container .border, body #wrapper #education .content-pic .pic .pic-content .pic-container .border, body #wrapper #skills .content-pic .pic .pic-content .pic-container .border, body #wrapper #portfolio .content-pic .pic .pic-content .pic-container .border, body #wrapper #contact .content-pic .pic .pic-content .pic-container .border, body #wrapper #footer .content-pic .pic .pic-content .pic-container .border {
  border: 1px solid #fff;
  transition: all 0.3s ease;
}
/* line 348, ../sass/app.scss */
body #wrapper #about .content-pic .pic .pic-content .pic-container .border:hover, body #wrapper #education .content-pic .pic .pic-content .pic-container .border:hover, body #wrapper #skills .content-pic .pic .pic-content .pic-container .border:hover, body #wrapper #portfolio .content-pic .pic .pic-content .pic-container .border:hover, body #wrapper #contact .content-pic .pic .pic-content .pic-container .border:hover, body #wrapper #footer .content-pic .pic .pic-content .pic-container .border:hover {
  background-color: #fff;
}
/* line 357, ../sass/app.scss */
body #wrapper #about .staffs, body #wrapper #education .staffs, body #wrapper #skills .staffs, body #wrapper #portfolio .staffs, body #wrapper #contact .staffs, body #wrapper #footer .staffs {
  background-image: url(../assets/staffs.jpg);
}
/* line 360, ../sass/app.scss */
body #wrapper #about .stapen, body #wrapper #education .stapen, body #wrapper #skills .stapen, body #wrapper #portfolio .stapen, body #wrapper #contact .stapen, body #wrapper #footer .stapen {
  background-image: url(../assets/stapen.jpg);
}
/* line 363, ../sass/app.scss */
body #wrapper #about .robert, body #wrapper #education .robert, body #wrapper #skills .robert, body #wrapper #portfolio .robert, body #wrapper #contact .robert, body #wrapper #footer .robert {
  background-image: url(../assets/robert.jpg);
}
/* line 367, ../sass/app.scss */
body #wrapper #about img, body #wrapper #education img, body #wrapper #skills img, body #wrapper #portfolio img, body #wrapper #contact img, body #wrapper #footer img {
  width: 100%;
  padding: 0 15px;
}
@media (max-width: 767px) {
  /* line 367, ../sass/app.scss */
  body #wrapper #about img, body #wrapper #education img, body #wrapper #skills img, body #wrapper #portfolio img, body #wrapper #contact img, body #wrapper #footer img {
    padding: 15px;
  }
}
