@import "compass/reset";
@import 'common';

body{
	font-family: 'Open Sans', sans-serif;

	@media (max-width:$break-sm){
		overflow-x:hidden;
	}

	#wrapper{
		margin:0px auto;
		width:100%;

		#menu{
			position:fixed;
			top:0px;
			left:0px;
			right:0px;
			width:100%;
			padding:15px;
			background-color:#ecf0f1;
			z-index:999;
			color:#fff;

			.col-sm-1{
				@media (max-width:$break-sm){
					width:100%;
				}
			}

			.col-sm-11{
				@media (max-width:$break-sm){
					width:100%;
				}
			}

			.burger{
				position:absolute;
				top:-5px;
				right:15px;
				display:none;

				@media (max-width:$break-sm){
					display:inline-block;
				}

				@media (min-width:$break-sm){
					top:0;
				}
			}

			.menu-box{
				@media (max-width:$break-sm){
					display:none;
				}
			}

			ul{
				vertical-align:middle;
				padding:12px 0;
				text-transform: uppercase;
				text-align:right;

				@media (max-width:$break-sm){
					text-align:center;
				}

				.current{
					background-color:#333;
					
					a{
						color:#fff;
					}
				}
			
				li{
					list-style:none;
					display:inline-block;
					margin:0 5px;
					padding:10px 0;
					font-size:15px;
					font-weight:700;
					color:#333;

					&:hover{
						transition:background-color .2s, color .2s;
						-webkit-transition:background-color .2s, color .2s;
						-moz-transition:background-color .2s, color .2s;
						-o-transition:background-color .2s, color .2s;
						-ms-transition:background-color .2s, color .2s;
						background-color:#333;

						a{
							color:#fff;
						}
					}

					a{
						color:#333;
						padding:10px 15px;
					}

					@media (max-width:$break-sm){
						display:block;
					}
				}
			}
		}

		#welcome{
			text-align: center;
			width: 100%;
			height: 100vh;
			display: table;
			position: relative;
			background-image:url(../assets/welcome.jpg);
			background-size:cover;
		}
		#welcome-content{
			max-width: 100%;
			height: 100vh;
			display: table-cell;
			vertical-align: middle;
			text-transform: uppercase;
			color:#fff;
			position:realtive;

			h1{
				font-weight:600;
				font-size:5em;
				position:relative;
				left:25%;
				width:50%;
				padding:15px;
				margin-bottom:15px;
				border:5px solid #fff;

				@media (max-width:$break-sm){
					font-size:2.5em;
					text-align:center;
				}

				@media (max-width:$break-xsm){
					font-size:1.5em;
					text-align:center;
				}
			}

			h2{
				font-weight:300;
				font-size:1.5em;
				color:#3498db;

				@media (max-width:$break-sm){
					font-size:1em;
				}
			}

			.arrow{
				position:relative;
				top:15%;
				cursor:pointer;
				animation-duration: 0.5s;
				animation-name: arrowAnim;
				animation-iteration-count: infinite;
				animation-direction: alternate;

				img{
					height:3rem;
				}

				a{
					color:#fff;

					&:hover{
						color:#3498db;
					}
				}
			}
		}

		#education, #portfolio{
			a{
				color:#fff;

				&:hover{
					color:#333;
				}
			}
			.col-sm-4, .col-md-4{
				padding-left:0;
				padding-right:0;
			}
		}

		#skills{
			h3{
				text-align: left;
			}

			text-align:center;
			.fa{
				font-size:50px;
				line-height:75px;
				color:#3498db;

				-webkit-animation: glow 5s;
				-moz-animation: glow 5s;
				-ms-animation: glow 5s;
				-o-animation: glow 5s;
				animation: glow 5s;

				transition: all 0.3s ease;
				animation-iteration-count: infinite;
			}
		}

		#portfolio{
			h3{
				margin-bottom:15px;
			}
			.pic{
				margin:0 auto !important;
			}
		}

		#contact{
			padding:15px;

			a{
				color:#000;
				transition: all 0.3s ease;

				&:hover{
					color:#3498db;
					text-decoration: none;
				}
			}

			ul{
				text-align:center;

				li{
					list-style:none;
					display:inline-block;
					padding:15px 20px;
					text-align:center;
					vertical-align:middle;
					font-size:20px;
				}	
			}

			p{
				text-align:center;
			}
		}
		#footer{
			padding:15px;
			color:#666;
			text-align:center;
			background-color:#ecf0f1;

			h6{
				font-size:10px;
				font-weight:100;
			}
		}

		#about, #education, #skills, #portfolio, #contact, #footer{
			padding:15px;

			h3{
				font-size:28px;
				padding-bottom:15px;
				font-weight:600;
			}

			p{
				font-size:18px;
				line-height:24px;
				margin-bottom:15px;
			}

			.content-pic-1{
				float:right;

				@media (max-width:$break-sm-sp){
					float:none;
				}
			}

			.content-pic{
				text-align:center;

				.pic{
					height:70vh;
					position:relative;
					transition: all 0.3s ease;
					background-size:cover;
					background-position:center;
					margin:15px auto;

					@media (max-width:$break-sm){
						margin:0 auto;						
					}

					&:hover, &:active{
						transform: translate3d( 0, 0, 0) scale(1.01);
						box-shadow:3px 3px 3px rgba(0, 0, 0, 0.3);
						z-index:500;
					}

					.pic-content{
						opacity:0;
						position:relative;
						width:100%;
						height:100%;
						transition: all 0.2s ease;
						color:#fff;
						overflow:hidden;

						&:hover{
							opacity:1;
							background-color:rgba(0, 0, 0, 0.8);
						}

						.pic-container{
							position: relative;
							height: 100%;
							width: 100%;
							padding: 15px;

							.fa{
								font-size:25px;
							}

							p{
								padding:5px;
								font-weight:100;
								text-transform: uppercase;
							}

							.border{
								border:1px solid #fff;
								transition: all 0.3s ease;

								&:hover{
									background-color:#fff;									
								}
							}
						}
					}
				}
			}

			.staffs{
				background-image:url(../assets/staffs.jpg);
			}
			.stapen{
				background-image:url(../assets/stapen.jpg);
			}
			.robert{
				background-image:url(../assets/robert.jpg);
			}

			img{
				width:100%;
				padding:0 15px;

				@media (max-width:$break-sm-sp){
					padding:15px;
				}
			}
		}
	}
}