$break-xsm:400px;
$break-sm:768px;
$break-sm-sp:767px;
$break-md:992px;

a{
	&:link, &:visited, &:active, &:hover {
	    text-decoration: none;
	    cursor:pointer;
	}
}

.left{
	text-align:left;
}
.right{
	text-align:right;
}
.mini-logo{
	width:50px;
	height:50px;
	margin:5px;
	border:3px solid #333;
	color:#333;
	border-radius:50px;
	text-align:center;
	display:table;
	transition:background-color .2s, color .2s;
	-webkit-transition:background-color .2s, color .2s;
	-moz-transition:background-color .2s, color .2s;
	-o-transition:background-color .2s, color .2s;
	-ms-transition:background-color .2s, color .2s;
}
.mini-logo:hover{
	background-color:#333;
	color:#fff;
}
.mini-logo-text{
	display:table-cell;
	vertical-align:middle;
	font-size:1.250em;
	font-weight:700;
}

.hideme{
	opacity:0;
}
.spacer{
	border-top:2px solid #3498db;
	margin:15px auto;
	width:80%;
}
strong{
	font-weight:600;
}
@keyframes glow {
    0%   { transform: scale(1); }
    50%  { transform: scale(1.2); }
    100% { transform: scale(1); }
}
@-moz-keyframes glow {
    0%   { transform: scale(1); }
    50%  { transform: scale(1.2); }
    100% { transform: scale(1); }
}
@-webkit-keyframes glow {
    0%   { transform: scale(1); }
    50%  { transform: scale(1.2); }
    100% { transform: scale(1); }
}
@-ms-keyframes glow {
    0%   { transform: scale(1); }
    50%  { transform: scale(1.2); }
    100% { transform: scale(1); }
}
@-o-keyframes glow {
    0%   { transform: scale(1); }
    50%  { transform: scale(1.2); }
    100% { transform: scale(1); }
}
/* arrow anim */
@keyframes arrowAnim {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(0, 10px);
  }
}